# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
*.log.*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore any env files, but keep the template
.env*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel
.env*.local
